.compositionWrapper {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  overflow: scroll;
}

.allComps, .listItem {
  display: flex;
  flex-basis: 40%;
  align-items: center;
  padding-left: 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  min-height: 60px;
}

.allComps {
  border-bottom: 1px solid #E3E3E3;
}

.listItem {
  font-size: 10px;
  color: rgba(200,200,200,0.8);
  background-color: #F9F9F9;
  text-align: left;
  font-style: italic;
  cursor: pointer;
}

.listItem:not(:last-child) {
  border-bottom: 1px solid #E3E3E3;
}

.listItem.empty {
  cursor: default;
}

.listItemSelected {
  background-color:#2B2727;
  color: #fff;
}


.circleContainer  {
  margin: 5px;
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px;
}

.checkboxLabel {
  cursor: pointer;
  position: relative;
  width: 80%;
}
