.compositionWrapper {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  overflow: scroll;
  cursor: pointer;
}

.allComps, .listItem {
  display: flex;
  flex-basis: 40%;
  align-items: center;
  padding-left: 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  min-height: 60px;
}

.allComps {
  border-bottom: 1px solid #E3E3E3;
}

.listItem {
  font-size: 16px;
  color: rgba(200,200,200,0.8);
  background-color: #F9F9F9;
  text-align: left;
}

.listItemSelected {
  background-color:#a9a9a9;
  color: #fff;
}

.listItem:not(:last-child) {
  border-bottom: 1px solid #E3E3E3;
}

 input {
  opacity: 0;
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

.circleContainer  {
  margin: 5px;
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px;
}

.checkboxLabel {
  position: relative;
  width: 80%;
}

.circleContainerChecked {
  background: #222;
  box-shadow: inset 0px 0px 0px 4px #fff;
}