.exporter {
  display: block;
  justify-content: space-around;
  background-color: #fff;
  width: 100%;
}

.buttonSynchronizing .exportButton {
  color: #3572C5;
}

.buttonSynchronized .exportButton {
  color: #7ED6BC;
}


.exportButton {
  opacity: 0;
  background: #302D2D;
  border: none;
  text-transform: uppercase;
  width: 100%;
  height: 5vw;
  color: #8B8989;
  min-height: 60px;
  letter-spacing: 5px;
  font-weight: 700;
  outline: none;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #222;
    color: #E9E9E9;
  }
} 