.email {
	cursor: pointer;
	display: flex;
	height: 5vh;
	width: 60%;
	margin-left: 10%;
	margin-top: 5px;
	margin-bottom: 25px;
}

.emailBox {
	right: 24vw;
	bottom: 70vw;
	overflow-y: scroll;
	position: relative;
	text-align: left;
	background-color: #fff;
	width: 24vw;
	text-transform: uppercase;
	height: 60vh;
	min-width: 300px;
}

.emailEntry {
	width: 100px;
	margin-bottom: 0px;
	margin-left: 5px;
	float: left;
	outline-color: #999;
	outline-width: 1px;
	border: 0;
	height: 5vh;
	line-height: 20px;

}

.listItem {
	text-transform: uppercase;
	letter-spacing: 4px;
	padding-left: 33px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.listItemSelected {
	background-color: #eee;
	color: #fff;
}

.label {
	width: 40px;
	display: inline-block;
}
.labelContainer {
	min-width: 20%;
	display: inline;
}

.arrow {
    background-image: url('./arrow.png');
    background-size: cover;
    width: 20px;
    margin-top: 5px;
    margin-left: 5px;
    min-width: 20px;
    height: 20px;
    float: left;
}
