.switch {
    border: 1px solid #ccc;
    width: 50px;
    height: 20px;
    border-radius: 13px;
    cursor: pointer;
    display: flex;
}
.switchToggle {
    border: 1px solid #999;
    box-shadow: 1px 1px 1px #ccc;
    width: 25px;
    height: 24px;
    left: 0;
    margin-top: -3px;
    border-radius: 12px;
    position: relative;
    transition: left .2s ease-in-out;
}
.switchOn {
    background: black;
    left: 24px;
}
.switchOn .switchToggle {
    left: 22px;
}
.switchDisabled {
    cursor: not-allowed;
}
