.switch {
    border: 1px solid #ccc;
    width: 70px;
    height: 26px;
    border-radius: 13px;
    cursor: pointer;
    display: flex;
}
.switchToggle {
    border: 1px solid #999;
    box-shadow: 1px 1px 1px #ccc;
    width: 25px;
    height: 24px;
    left: 0;
    border-radius: 12px;
    position: relative;
    transition: left .2s ease-in-out;
}
.switchOn {
    background: green;
    left:44px;
}
.switchOn .switchToggle {
    left: 23px;
}
.switchDisabled {
    cursor: not-allowed;
}
